<%- include layouts/header.ejs %>

<div id="content">
    <%- include layouts/side.ejs %>
    <div id="body">
        <div id="step1">
            <h3>цнещйЯ1:щБ╕цУЗшжБщаРч┤ДцЧецЬЯя╝Иф╛ЭцУЪх╖▓ч╢УщаРшиВщЦАчеия╝Й</h3>щаРч┤ДцЧецЬЯя╝Ъ
            <% for(var i= 0;i < data.length;i++) { %>
                <input type="text" id="facility_date" name="facility_date" value="<%=data[i]%>" readonly="readonly" onclick="click_ticket('<%=data[i]%>')">
            <% } %>
        </div>
        <div id="step2">
            <h3>цнещйЯ2:щБ╕цУЗшжБщаРч┤ДцЩВцо╡</h3>
            щаРч┤ДцЩВцо╡я╝Ъ<input type="radio" name="time" value="10:00" onclick="click_time('10:00')"> 10:00
                    <input type="radio" name="time" value="11:00" onclick="click_time('11:00')"> 11:00
                    <input type="radio" name="time" value="12:00" onclick="click_time('12:00')"> 12:00
                    <input type="radio" name="time" value="13:00" onclick="click_time('13:00')"> 13:00
                    <input type="radio" name="time" value="14:00" onclick="click_time('14:00')"> 14:00
                    <input type="radio" name="time" value="15:00" onclick="click_time('15:00')"> 15:00
                    <input type="radio" name="time" value="16:00" onclick="click_time('16:00')"> 16:00
            <p>
        </div>
        <div id="step3">
            <h3>цнещйЯ3:щБ╕цУЗшжБщаРч┤ДшинцЦ╜</h3>
            щаРч┤ДшинцЦ╜я╝Ъ
            <% for(var i= 0;i < data2.length;i++) { %>
                <input type="text" id="facility_appt_name" name="facility_appt_name" value="ЁЯЪА <%=data2[i].Name%>" readonly="readonly" onclick="click_facility_appt('<%=data2[i].Name%>','<%=data2[i].No%>')">
            <% } %>
        </div>
        <div id="step4">
            <form method="post" id="facility_appt_form" name="facility_appt_form" action="/user/facility_appt_save">
                <h3>цнещйЯ4:цЬАх╛Мчв║шкНя╝ИхжВцЬЙшкдя╝МшлЛх╛АхЫЮцЫ┤цФ╣я╝Й</h3>
                <input type="hidden" id="facility_no" name="facility_no" value="" readonly="readonly">
                щаРч┤ДцЧецЬЯя╝Ъ<input type="text" id="facility_appt_date" name="facility_appt_date" value="" readonly="readonly" onfocus="this.blur()">
                щаРч┤ДцЩВцо╡я╝Ъ<input type="text" id="ticket_time" name="ticket_time" value="" readonly="readonly" onfocus="this.blur()">
                щаРч┤ДшинцЦ╜я╝Ъ<input type="text" id="facility_appt_facility_name" name="facility_appt_facility_name" value="" readonly="readonly" onfocus="this.blur()">
                <div class="div_center">
                    &nbsp; <input type="button" name="cancel" value="тЬШ хПЦц╢И" class="cancel" onClick="go_back();">
                    <input type="button" name="facility_appt_btn" id="facility_appt_btn" class="facility_appt_btn" value="тЬЪ щаРч┤Д" onclick="facility_appt_error_msg('add')">
                </div>
            </form>
        </div>
    </div>
    
</div>

<%- include layouts/footer.ejs %>