<%- include layouts/header.ejs %>

<div id="content">
    <%- include layouts/side.ejs%>
    <div id="body">
        <div id="left">
            <!-- åˆ¤æ–·æ˜¯å¦æœ‰è³‡æ–™ -->
            <% if(data[0]){ %>
                <table id="facility_info_table">
                    <% for(var i= 0;i < data.length;i++) { %>
                        <input type="hidden" id="name" name="name" value="<%=data[i].Name%>">
                        <input type="hidden" id="info" name="info" value="<%=data[i].Info%>">
                        <input type="hidden" id="images_name" name="images_name" value="<%=data[i].Images_Name%>">
                        <tr>
                            <td width="330px" onclick="data_list('<%=data[i].Name%>','<%=data[i].Info%>','<%=data[i].Images_Name%>')">
                                ðŸš€<%=data[i].Name%>
                            </td>
                        </tr>
                    <% } %>
                </table>
            <% }else{%>
                <span class="nullData">æ²’æœ‰è³‡æ–™</span>
            <% } %>
        </div>
        <div id="right">
            <table id="facility_info_table">
                <tr class="td_center">
                    <td>
                        <div class="frame_view">
                            <img id="facility_view" src="" alt="è¨­æ–½åœ–ç‰‡">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        ðŸš€<input type="text" id="facility_name" name="facility_name" value="none" readonly="readonly">
                        <textarea cols="90" rows="10" name="info_view" id="info_view" maxlength="1000" readonly="readonly"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<%- include layouts/footer.ejs %>